<div class="partial" id="header-nav">
  <ul>
    <!--li ng-show="state.loggedIn()"><a href="{{urls.home}}">Home</a></li-->
    <li ng-show="state.loggedIn() && permissions.user.view()"><a href="{{urls.user.view()}}">Users</a></li>
    <li ng-show="state.loggedIn()" ng-mouseenter="showExtra = true" ng-mouseleave="showExtra = false">
      {{current().firstName}} {{current().lastName}}
      <ul ng-show="showExtra == true">
        <li><a href="{{urls.user.show(current().id)}}">Profile</a></li>
        <li><a href="#" ng-click="action.logout()">Logout</a></li>
      </ul> 
    </li>
  </ul>  
</div>