<div class="partial" id="user-index" ng-show="permissions.user.view()">
  <ul>
    <li ng-repeat="user in users">
      {{user.firstName}}
      <a ng-show="permissions.user.show(user.id)" href="{{urls.user.show(user.id)}}">Show</a>
      <a ng-show="permissions.user.edit(user.id)" href="{{urls.user.edit(user.id)}}">Edit</a>
      <a ng-show="permissions.user.delete(user.id)" href="{{urls.user.delete(user.id)}}">Delete</a>
    </li>
  </ul>
  <p ng-show="permissions.user.create()"><a href="{{urls.user.new()}}">New</a></p>
</div>
